[submodule "reform2-keyboard-pcb/Keebio-Parts.pretty"]
	path = reform2-keyboard-pcb/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "reform2-keyboard-pcb/teensy.pretty"]
	path = reform2-keyboard-pcb/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty
[submodule "reform2-keyboard-pcb/teensy_library"]
	path = reform2-keyboard-pcb/teensy_library
	url = https://github.com/XenGi/teensy_library
